{% extends "core/base.html" %}

{% load static %}

{% block content %}

<section>
    <h2>The Best Way to Learn is to Teach</h2>
    <p>Welcome to our vibrant learning community, where students come together to share their classroom knowledge and
        elevate the learning experience. Our mission is simple: we believe in learning better through teaching and
        fostering a sense of belonging. With us, education becomes a joyful journey, and every student has the
        opportunity to both learn and teach. Join our community and discover how the power of collaboration and shared
        wisdom can make your learning adventure not just enriching, but truly delightful!</p>
    <div class="flex gap-10 items-center">
        <img src="https://cdn.discordapp.com/attachments/818087032303517726/1167902949398294599/Project_70-02.jpg"
            class="landing-img">
        <div class="flex gap-8 flex-col justify-center">
            <h3>The Protégé Effect</h3>
            <p>Learning by teaching, often referred to as the "protégé effect," is a powerful educational approach with
                several key benefits. When individuals teach what they've learned to others, it reinforces their own
                understanding and retention of the material. It encourages deeper comprehension, critical thinking, and
                the
                ability to explain complex concepts in simpler terms.</p>

            <p>Additionally, it boosts confidence and communication
                skills as learners become more proficient in conveying information. This method fosters a sense of
                responsibility and accountability, promoting active engagement with the subject matter. Ultimately,
                learning
                by teaching not only enhances one's own knowledge but also encourages a collaborative and interactive
                approach to education, benefiting both the teacher and the learner in the process.</p>
        </div>
    </div>
    <div class="flex gap-10 items-center">
        <div class="flex gap-8 flex-col justify-center">
            <h3>An Engaging Experience</h3>
            <p>Learning should be an enjoyable and engaging experience, and that's exactly what you get when you're a
                part of a community of like-minded learners with supportive peers. Learning together isn't just about
                gaining
                knowledge; it's about building connections and boosting your confidence, understanding the beauty of
                different perspectives and learning to collaborate effectively.</p>
            <p>At LearnPlanit, you're not just learning, you're growing, both academically and personally. Join us and
                discover how the power of togetherness can make learning an incredible adventure!</p>
        </div>
        <img src="https://cdn.discordapp.com/attachments/818087032303517726/1167902873745637429/Project_66-03.jpg"
            class="landing-img">
    </div>
    <p><a href="https://www.vecteezy.com/free-vector/learn" class="text-sm text-slate-400 italic">Vectors from
            Vecteezy</a></p>
</section>

{% endblock content %}