{% extends "core/base.html" %}

{% load static %}

{% block content %}

<head>
    {{ comment_form.media }}
</head>

<section>

    <button onClick="javascript:history.go(-1);" class="back-btn"><span>←</span><span>Back</span></button>
    <div class="flex gap-1 items-baseline mt-2">
        <h2 class="mb-1">{{ lesson.title }}</h2>
        {% if admin or username == lesson.author.username %}
        <a href="/lessons/editlesson/{{ lesson.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-2 h-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>

        </a>
        {% endif %}
    </div>

    <div class="lesson-info">
        <span>Written by {{ lesson.author }} | {{ lesson.date_posted }}</span>
    </div>

    <div class="tags-container mb-2">
        <strong>Tags:</strong>
        <em>
            {% for tag in lesson.tags %}
            <span>{{ tag }}</span>{% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
        </em>
    </div>

    <div class="lesson-content">
        {{ lesson_body|safe }}
    </div>

</section>
<hr />

<section>

    <h2>Comments</h2>

    <form action="/lessons/addcomment/{{ lesson.id }}/" method="POST">
        <h3>Write a Comment</h3>
        {% csrf_token %}
        {% for field in comment_form.visible_fields %}
        <span class="invisible">{{ field.label_tag }}</span>
        {{ field }}
        {% endfor %}
        <input id="commentButton" type="submit" name="button" value="Add Comment">
    </form>


    {% for comment in sanitized_comments %}

    <div class="lesson-comment {% if username == comment.author.username %}comment-is-author{% endif %}">
        <span class="comment-author"><strong>{{ comment.author.username }}</strong>
            commented:</span>
        <div>
            {{ comment.comment|safe }}
        </div>
        <div class="comment-footer">
            <div class="comment-date-actions flex gap-1">
                <span class="date">{{ comment.date_posted }}</span>{% if username == comment.author.username %}
                <span class="comment-author-actions"><a href="/lessons/editcomment/{{ comment.id }}/"
                        class="flex gap-half"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="w-1 h-1">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                        </svg> Edit
                    </a>
                    <form method="POST" action="/lessons/deletecomment/{{ comment.id }}/" id="deleteComment">
                        {% csrf_token %}
                        <a onclick="deleteComment()" class="flex gap-half"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-1 h-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg> Delete
                        </a>
                </span>{% endif %}
            </div>
            {% if comment.author.username == lesson.author.username %}
            <span class="flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-1 h-1">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg> <span class="lesson-op">Lesson Author</span>
            </span>
            {% endif %}
        </div>
    </div>

    {% endfor %}

</section>

<script>
    function deleteComment() {
        let is_confirmed = confirm("Are you sure you want to delete this comment?")
        if (is_confirmed) {
            let form = document.getElementById("deleteComment")
            form.submit()
        }
    }
</script>

{% endblock content %}